@charset "utf-8";
/* CSS Document */

/*面包屑*/
.crumbs{ margin:10px 0; margin-left:-10px;}
.crumbs a{ margin:0 10px;}
.crumbs a.on{ color:#007f4d;}

/*按钮*/
.btn-gn{ color:#fff; background:#008842;}
.btn-gn:hover{ color:#fff; background:#09964e;}
.btn-red{ color:#fff; background:#e8380d;}
.btn-red:hover{ color:#fff; background:#f15630;}

/*页码*/
.paging{clear:both; float:right;}
.paging .paging-num, .paging .paging-total, .paging .paging-form{ float:left; margin-left:10px;} 
.paging .paging-num a{display:block; float:left; height:22px; margin:0 3px; overflow:hidden; background:#fff; border:1px solid #ccc; padding:0 7px; line-height:22px; vertical-align:middle;}
.paging .paging-num a:hover, .paging .paging-num .this{ color:#008842; border:1px solid #008842;}
.paging .paging-total{line-height: 24px;}
.paging .paging-form input{text-align:center; border:1px solid #ccc; width:28px; height:22px; padding:0; vertical-align:middle; margin-right:5px; line-height:22px;} 
.paging .paging-form span{ line-height:24px; margin:0 5px; vertical-align:middle;}
.paging .paging-form button{background:#f4f4f4; cursor:pointer; border:none; color:#333; width:43px; height:24px; vertical-align:middle; line-height:22px; border:1px solid #ccc;}
