<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.dao.OrderStateMapper">
  <resultMap id="BaseResultMap" type="com.shop.entity.OrderState">
    <id column="state_id" jdbcType="INTEGER" property="stateId" />
    <result column="state_name" jdbcType="VARCHAR" property="stateName" />
  </resultMap>
  <sql id="Base_Column_List">
    state_id, state_name
  </sql>
  <insert id="insertSelective" parameterType="com.shop.entity.OrderState">
    insert into order_state
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stateId != null">
        state_id,
      </if>
      <if test="stateName != null">
        state_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stateId != null">
        #{stateId,jdbcType=INTEGER},
      </if>
      <if test="stateName != null">
        #{stateName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.entity.OrderState">
    update order_state
    <set>
      <if test="stateName != null">
        state_name = #{stateName,jdbcType=VARCHAR},
      </if>
    </set>
    where state_id = #{stateId,jdbcType=INTEGER}
  </update>
</mapper>