<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.dao.ProDisplayMapper">
  <resultMap id="BaseResultMap" type="com.shop.entity.ProDisplay">
    <id column="pro_display_id" jdbcType="INTEGER" property="proDisplayId" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="pro_display_img" jdbcType="VARCHAR" property="proDisplayImg" />
  </resultMap>
  <sql id="Base_Column_List">
    pro_display_id, product_id, pro_display_img
  </sql>
  <insert id="insertSelective" parameterType="com.shop.entity.ProDisplay">
    insert into pro_display
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="proDisplayId != null">
        pro_display_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="proDisplayImg != null">
        pro_display_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="proDisplayId != null">
        #{proDisplayId,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="proDisplayImg != null">
        #{proDisplayImg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.entity.ProDisplay">
    update pro_display
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="proDisplayImg != null">
        pro_display_img = #{proDisplayImg,jdbcType=VARCHAR},
      </if>
    </set>
    where pro_display_id = #{proDisplayId,jdbcType=INTEGER}
  </update>
</mapper>